/* common styles */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* header secton styles */
header {
    background-color: #2d25a0;
    padding: 100px 130px;
    margin-bottom: 70px;
}
.top-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-info h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: white;
    margin-bottom: 27px;
}
.banner-info button {
    font-size: 16px;
    color: white;
    background-color: #e02c6d;
    border: none;
    padding: 10px 24px;
}
.top-banner img {
    width: 556px;
    margin-left: 100px;
}

/* players section styles */
.players {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}
.player {
    box-shadow: 0 0 40px #d0d0d0;
    padding: 15px;
}
.player img {
    width: 100%;
    margin-bottom: 16px;
}
.player-info h3 {
    font-size: 28px;
    color: #18191f;
    font-weight: 700;
    margin-bottom: 10px;
}
.player-info p {
    color: #6c6c6c;
    line-height: 26px;
}

/* top news section styles */
.top-news {
    margin-bottom: 100px;
}
.top-news h2 {
    font-size: 36px;
    width: 1050px;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}
.top-news .news {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 30px;
    justify-content: center;
}
.news-item {
    box-shadow: 0 0 40px #d0d0d0;
    padding: 15px;
}
.news-item img {
    width: 100%;
    margin-bottom: 5px;
}
.news-item .news-status {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #6c6c6c;
    padding-bottom: 15px;
}
.news-item .news-headline {
    margin-bottom: 5px;
}
.news-item .news-description {
    color: #6c6c6c;
}

/* match schedule section styles */
.match-schedule {
    margin-bottom: 100px;
}
.match-schedule h2 {
    font-size: 36px;
    width: 1050px;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}
.matches {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 30px;
    justify-content: center;
}
#special-match {
    display: flex;
    grid-column: 1/4;
    align-items: center;
}
#special-match .match-name {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#special-match .match-name + h3 {
    font-size: 24px;
}
#final-match {
    padding-left: 50px;
}
.match {
    box-shadow: 0 0 40px #d0d0d0;
    padding: 15px;
}
.match img {
    width: 100%;
}
.match .match-status p {
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    color: white;
    background-color: #2d25a0;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 15px;
}
.match-name {
    margin-bottom: 5px;
}
.match-time {
    color: #6c6c6c;
}
.view-btn {
    margin-top: 10px;
    border: none;
    background-color: white;
    font-size: 18px;
    padding: 0;
}
